
:root {
    --var-color-one:#bebffa ;
    --var-color-two: rgb(87, 112, 250);
}

@font-face {
    font-family: raleway;
    src: url(fonts/Raleway-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: raleway, sans-serif;
    color: var(--var-color-two);
}


html, 
body {
    background-color: var(--var-color-one);
    height: 2000px;
}


h1 {
    position: absolute;
    top: 40vh;
    width: 100%;
    text-align: center;
    line-height: 6rem;
    letter-spacing: 2px;
    font-family: raleway ;
}

#welcome {
    position: absolute;
    right: 5%;
    top: 50vh; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

ul li{
    height: 4rem;
    display: flex;
    overflow: hidden;
    /*background-color: aqua;*/
    margin-bottom: 0.5rem;
    justify-content: flex-end ;
}
  
ul li span{
    display: block;
    line-height: 3rem;
    font-size: 4rem;
    transform: translateY(200%); 
    margin: 0.05rem;


}

ul li span.active{
    transform: translateY(0%);
    transition: 1s ease-out ;
}


/**@font-face {
    font-family: myFont;
    src: url(Fonts/Raleway-Bold.ttf)
}*/

/*h3{
    font-family: raleway ;
    text-align: center;
    letter-spacing: 0px;
    color: rgb(87, 112, 250);

}*/


/** {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}*/


h1 {
    color: rgb(87, 112, 250); 
    font-size: 100px;
}

strong {
    font-weight: normal;
}





p {
    color:blueviolet; 
    /*background: #ddcbf5 ; */
    font-weight: normal;
    text-transform: none;
    font-style: normal;
    /* italic,norm*/ 
    line-height: 20px;
    text-decoration: none;
    font-size: 12;
}

/*h2 {
    color: darkviolet;
}

/*ul{
    color: blueviolet;
}

body {
    background: #edf1ff;
}

/*#intro {
    color: darkblue;
    background: #bebffa;
    /*width: 300px ;
    text-align: center;
}*/

.new-class {
    font-size: 9 px;
    background: #b8b9f3 ;
}

a { 
    font-size: 30px;
}

/* a:visited {
    color: blue ;
}
*/
a:hover {
    color: white;
    text-decoration: none;
}

/*#container {
    background: rgb(179, 182, 255);
    border-style: dotted;
    border-color:  rgb(179, 223, 255);
    border-width: 10px;
   
}*

/*.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}

.item {
    height: 100px;
    border: 2px solid blueviolet;
}


p {
    font-size: 20px;
    margin-top:5px;
    /* filter: blur(2px); 
}
*/




ul{
margin-left: 60px;
}

ul li {
    list-style: none;
    display: inline-block;
    /*float: left;*/
    line-height: 100px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: rgb(87, 112, 250);
    padding: 0 15px;
}

